@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  background-color: rgb(15 23 42); /* bg-slate-900 */
  font-family: "Nunito Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Serif JP", system-ui;
}
