<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{ title }} | sabi's stuff</title>
  </head>
  <body>
    <header>
      {% include 'partials/header.njk' %}
    </header>
    <nav>{% include 'partials/navigation.njk' %}</nav>
    <main>
      <h2>{{ title }}</h2>
      {{ content | safe }}
    </main>
  </body>
</html>
