.blog-preview__title {
  margin-bottom: 0;
  font-weight: normal;
}

.blog-preview__tagline {
  margin-top: 0.3rem;
}

.blog-preview__date,
.blog-post__date {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
}

.blog-preview__tags,
.blog-post__tags {
  margin-top: 0;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.blog-preview__tag,
.blog-post__tag {
  background-color: var(--darkest-blue);
  white-space: nowrap;
  padding: 2px;
}

.blog-post__back {
  margin-bottom: 0;
}
