@import url("new_rodin_pro.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FOT-NewRodin Pro", sans-serif;
}

body {
  width: 60%;
  margin: 0 auto;

  font-family: "Space Grotesk", sans-serif;

  background-image: url("/img/protogens_tile_gm.png");
  background-size: 50%;

  @media screen and (width < 992px) {
    width: 95%;
  }
}

header {
  margin-bottom: 1rem;
  padding: 1rem;

  border: 2px solid #4027f4;
  background-color: #030e6b;
  color: white;
}

.layout {
  display: flex;

  > * {
    /* style only direct descendants */
    padding: 1rem;

    border: 2px solid #4027f4;
    background-color: #030e6b;
    color: white;
  }

  nav {
    width: 20%;
    flex: none; /* so this never resizes */
    margin-right: 1rem;
  }

  main {
    min-width: 0; /* so this never overflows... */
    flex: auto; /* ...but still grows to fill remaining space */
  }
}

.header__title {
  margin: 0 0;
}

.title {
  margin-top: 0;
}

.title__subtitle {
  font-family: "FOT-NewRodin Pro", sans-serif;
}

.project-card {
  margin-top: 2rem;
}

.nav__link {
  font-family: "FOT-NewRodin Pro", sans-serif;
}
