@import url("new_rodin_pro.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import url("blog.css");
@import url("projects.css");
@import url("nav.css");
@import url("pronunciation.css");

:root {
  --darkest-blue: #033152;
  --dark-blue: #044778;
  --title-font: "FOT-NewRodin Pro", sans-serif;
  --pink: #ffa6c7;
  --dark-pink: #f6607b;
}

.mobile-hide {
  display: inherit;

  @media (width < 992px) {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  line-height: 1.5;
}

body {
  width: 60%;
  margin: 0 auto;

  font-family: "Space Grotesk", sans-serif;

  background-image: url("/img/protogens_tile_gm.png");
  background-size: 50%;

  @media (width < 992px) {
    width: 95%;
  }
}

header {
  margin-bottom: 1rem;
  padding: 5rem 1rem 1rem 1rem;

  background-size: 50%;
  background:
    linear-gradient(360deg, var(--darkest-blue) 0%, rgba(0, 0, 0, 0) 60%),
    url("/img/protogens_tile.png");
  color: white;

  text-align: right;

  @media (width < 992px) {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

a {
  color: var(--pink);
  transition: color 0.2s;
  text-decoration: none;
}

a:hover {
  color: var(--dark-pink);
}

hr {
  border: none;
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: var(--darkest-blue);
  text-align: center;
}

hr::after {
  content: "・・・next・・・";
}

article {
  img {
    max-width: 100%;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: var(--pink) 2px solid;
  }

  code {
    background-color: var(--darkest-blue);
    padding: 2px;
    color: var(--pink);
  }

  ol,
  ul {
    padding-left: 1.75rem;
  }
}

.layout {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;

  > * {
    /* style only direct descendants */
    padding: 1rem;

    border: 2px outset var(--darkest-blue);
    background-color: var(--dark-blue);
    color: white;
  }

  nav {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 10rem;

    @media (width < 992px) {
      margin-right: 0rem;
      margin-bottom: 0.5rem;
      padding: 0.5rem 1rem;
    }
  }

  main {
    flex: auto; /* should fill remaining space, but never overflow */

    line-height: 1.5;
  }

  @media (width < 992px) {
    display: block;
    margin-bottom: 0.75rem;
  }
}

.header__title {
  margin: 0 0 -0.5rem 0;
  padding-right: 0.5rem;
  font-style: italic;
}

.header__subtitle {
  font-family: var(--title-font);
  margin: 0;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.title__subtitle {
  font-family: var(--title-font);
  margin-top: 0;
  line-height: 1.5;
}

.badge {
  image-rendering: pixelated;
}

.home__social-link {
  white-space: nowrap;
}
