{% for link in [{ href: '/', text: 'about me' }, { href: '/blog', text: 'blog' }, { href: '/projects', text: 'projects' }, { href: '/art', text: 'art' }, { href: '/protogens', text: 'protogens' }] %}
<a class="nav__link" href="{{ link.href }}">
  <div>
    {{ link.text }}
  </div>
</a>
{% endfor %}
