<div class="nav__section">
  <h2 class="nav__section-header mobile-hide">explore</h2>
  <div class="nav__section-content">
    {% for link in
      [
        { href: '/', text: 'about me' },
        { href: '/blog', text: 'blog' },
        { href: '/now', text: 'now' },
        { href: '/links', text: 'links' },
        { href: '/protogens', text: 'protogens' }
      ]
    %}
    <a class="nav__link" href="{{ link.href }}">
      {{ link.text }}
    </a>
    {% endfor %}
  </div>
</div>
