<div>
  <img src="{{ project.data.preview_img }}" alt="{{ project.data.preview_alt | escape }}" />

  <h3>{{ project.data.name }}</h3>
  <p>{{ project.data.description }}</p>

  {% if project.data.view_link %}
  <a href="{{ project.data.view_link }}">view</a>
  {% endif %}
  {% if project.data.source_link %}
  <a href="{{ project.data.source_link }}">{{ project.data.source_text }}</a>
  {% endif %}
</div>
