<div class="project-card">
  <img class="project-card__preview" src="{{ project.data.preview_img }}" alt="{{ project.data.preview_alt | escape }}" />

  <h3>{{ project.data.name }}</h3>
  <p>{{ project.data.description }}</p>

  {% if project.data.view_link %}
  <div class="project-card__link">
    [
    <a href="{{ project.data.view_link }}">view</a>
    ]
  </div>
  {% endif %}
  {% if project.data.source_link %}
  <div class="project-card__link">
    [
    <a href="{{ project.data.source_link }}">{{ project.data.source_text }}</a>
    ]
  </div>
  {% endif %}
</div>
